@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to OWLOS Air Quality</h1>
    <p>Learn about <a href="/swagger/index.html">OWLOS Air Quality APIs</a>.</p>
</div>
