# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/ReadyIoTSolution/v15/ipch/AutoPCH/19a41108fcb652bd/UPDATEMANAGER.ipch
/.vs/ReadyIoTSolution/v15/ipch/AutoPCH/24598ae2708a385c/WEBPROPERTIES.ipch
/.vs/ReadyIoTSolution/v15/Browse.VC.opendb
