.widgetHolder {
    filter: brightness(120%); 
}

.gutterSlim.row {
    margin-right: -1px;
    margin-left: -1px;
}

.gutterSlim > [class^="col-"], .gutter-2 > [class^=" col-"] {
    padding-right: 1px;
    padding-left: 1px;
}

.header-panel {   
     
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;    
    height: 42px;    
    border-bottom: 1px solid #2b2b2b;
    border-color: #df4d4d;    
}

.header-button {
        margin-right: 2px;
}

.small-text {        
    padding-top: 0.7em;
    font-size: 11px;
    vertical-align: middle;
    text-align: right;
    
}

.thing-prop-col {    
    padding-left: 0.1rem;
    padding-right: 2.1rem;
}

.thing-prop-col1 {    
    padding-left: 1.2rem;
    padding-right: 1.1rem;
}

.thing-prop-col2 {    
    padding-left: 3.0rem;
    
}

.bold-option {
    font-weight: bolder;
}

.navbar, .tab-pane, .row {
    border: 0px;
}


.driverPanelDiv {
    position: Relative;
    padding-top: 7px;
    height: 120px;
    margin-bottom: 40px;
    margin-left: 15px;
    overflow: Hidden;
    cursor: Default;
    display: inline-block;
}

.widget-editor-panel {
    padding-bottom: 2rem;
}


.widget-editor-nav-tabs {
  border-bottom: 1px solid #89c2dc;
}



.middleContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.buttomContainer {
    position: absolute;
    top: 90%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


.TableWidget {
    position: Relative;
    overflow: Hidden;
    cursor: Default;
    display: inline-block;
}

.WidgetText {
    position: Absolute;
    text-align: Center;
    overflow: Hidden;
    white-space: NoWrap;
    text-overflow: Ellipsis;
}

.ScriptTextArea {
    width: 80ch;
    position: Absolute;
    overflow: Hidden;
    white-space: NoWrap;    
    text-overflow: Ellipsis;
}


.LCDTextArea {
    width: 28ch;
    left: 5%;
    position: Absolute;
    text-align: Center;
    overflow: Hidden;
    white-space: NoWrap;
    text-overflow: Ellipsis;
    transform: translateY(-44%);
}

.LCDButtons {
    position: absolute;
    top: 3%;
    right: 1%;
    width: 25%;
    transform: translateY(3%);
}

.LCDButton {
    width: 100%;
}


.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #122e3b;
}

.driverdiv {
    margin: 5px -5px 2px -5px;
}

.w-10 {
    width: 10% !important;
}

.w-5 {
    width: 5% !important;
}

.w-2 {
    width: 2% !important;
}

textarea {
    resize: none;
    padding: 0;
}


.tooltip-inner {
    background-color: #404040;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #404040 !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #404040 !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #404040 !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #404040 !important;
}


.paginate_button, .dataTables_filter, .dataTables_filter input, .dataTables_info, .dataTables_length, .dataTables_wrapper, .dataTables_paginate   {
    color: #89c2dc !important;        
    /*! font-size: 14px; */
}

 .dataTables_wrapper  {
background-color: rgba(137, 194, 220, 0.1);
}

.dataTables_filter input, .dataTables_length select {      
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1d4c62;
  background-color: #d8ebf3;
  background-clip: padding-box;
  border: 1px solid #62add0;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}    


    .dataTables_filter input {
        color: black !important;
        font-size: 14px;
    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(131, 131, 131, 0.1);
    text-align: right;
}

.thingstatuspanel {
    margin-left: 10px;
    text-align: right;
}

.cardHeaderButton {
    display: inline-flex;
    position: absolute;
    right: 20px;
    margin-top: -3px;
}

.headerText {
    margin-top: 5px;
}


.card-header {
    padding-top: 0.1rem;
    padding-right: 1.25rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
}



/*  PRO - SIDEBAR CSS https://github.com/azouaoui-med/pro-sidebar-template */
@-webkit-keyframes swing {
    0%, 30%, 50%, 70%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    10% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}

@keyframes swing {
    0%, 30%, 50%, 70%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    10% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}

@-webkit-keyframes sonar {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes sonar {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}


.nav-link[data-toggle].collapsed:after {
         font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f105";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        text-align: center;
        background: 0 0;
        position: absolute;
        right: 15px;
        top: 10px;
        transition: transform .3s ease;
        transition: transform .3s ease, 
    

}
.nav-link[data-toggle]:not(.collapsed):after {
    
         font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f105";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        text-align: center;
        background: 0 0;
        position: absolute;
        right: 15px;
        top: 10px;
        transition: transform .3s ease;        
        transform: rotate(90deg);
        right: 15px;

}

.sidebar-wrapper {
    width: 280px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -280px;
    z-index: 999;
    -webkit-transition: left .3s ease, width .3s ease;
    transition: left 1s cubic-bezier(.95,.05,.8,.04), width 1s cubic-bezier(.79,.14,.15,.86);
}

    .sidebar-wrapper ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidebar-wrapper a {
        text-decoration: none;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
    }

    .sidebar-wrapper .sidebar-item {
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
    }

    .sidebar-wrapper .sidebar-content {
        max-height: 98%;
        height: 98%;
        overflow-y: scroll;
        position: relative;
    }

        .sidebar-wrapper .sidebar-content.desktop {
            overflow-y: hidden;
        }

    .sidebar-wrapper .badge {
        border-radius: 0;
    }

.sidebar-bg .sidebar-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

    .sidebar-bg .sidebar-wrapper:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

.sidebar-wrapper .sidebar-brand {
    padding: 1rem 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
}

    .sidebar-wrapper .sidebar-brand > a {
        text-transform: uppercase;
        font-weight: bold;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
}

    .sidebar-wrapper .sidebar-header .user-pic {
        width: 60px;
        padding: 2px;
        margin-right: 15px;
        overflow: hidden;
    }

        .sidebar-wrapper .sidebar-header .user-pic img {
            -o-object-fit: cover;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

    .sidebar-wrapper .sidebar-header .user-info {
        overflow: hidden;
    }

        .sidebar-wrapper .sidebar-header .user-info > span {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .sidebar-wrapper .sidebar-header .user-info .user-status {
            /*! font-size: 11px; */
            margin-top: 4px;
        }

            .sidebar-wrapper .sidebar-header .user-info .user-status i {
                font-size: 8px;
                margin-right: 4px;
                color: #5cb85c;
            }

.sidebar-wrapper .sidebar-search > div {
    padding: 1rem 1.2rem;
}

.sidebar-wrapper .sidebar-search input {
    border-radius: 0;
}

.sidebar-wrapper .sidebar-search .input-group {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.sidebar-wrapper .sidebar-search .input-group-append .input-group-text {
    border-radius: 0;
    border-left: 0;
}

.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}

    .sidebar-wrapper .sidebar-menu .header-menu span {
        font-weight: bold;
        font-size: 14px;
        padding: 15px 20px 5px 20px;
        display: inline-block;
    }

    .sidebar-wrapper .sidebar-menu ul li a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-decoration: none;
        position: relative;
        padding: 8px 30px 8px 20px;
        width: 100%;
    }

        .sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
            display: inline-block;
            -webkit-animation: swing ease-in-out .5s 1 alternate;
            animation: swing ease-in-out .5s 1 alternate;
        }

        .sidebar-wrapper .sidebar-menu ul li a i {
            margin-right: 10px;
            font-size: 14px;
            width: 25px;
            height: 25px;
            line-height: 28px;
            text-align: center;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        .sidebar-wrapper .sidebar-menu ul li a .menu-text {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            overflow: hidden;
        }

    .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f105";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        text-align: center;
        background: 0 0;
        position: absolute;
        right: 15px;
        top: 14px;
        transition: transform .3s ease;
        transition: transform .3s ease,
    }

    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu {
        display: none;
    }

        .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
            padding: 5px 0;
        }

        .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
            padding-left: 25px;
            /*! font-size: 13px; */
        }

            .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }


                .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
                .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
                    margin-left: auto;
                }

    .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 15px;
    }

.sidebar-wrapper .sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

    .sidebar-wrapper .sidebar-footer > div {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        text-align: center;
        height: 35px;
        line-height: 35px;
        position: static;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

        .sidebar-wrapper .sidebar-footer > div > a {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }

        .sidebar-wrapper .sidebar-footer > div a .notification {
            position: absolute;
            top: 0;
        }

        .sidebar-wrapper .sidebar-footer > div.pinned-footer {
            display: none;
        }

    .sidebar-wrapper .sidebar-footer .dropdown-menu {
        bottom: 36px;
        left: 0 !important;
        top: initial !important;
        right: 0;
        -webkit-transform: none !important;
        transform: none !important;
        border-radius: 0;
        font-size: .9rem;
    }

    .sidebar-wrapper .sidebar-footer .messages .dropdown-item {
        padding: .25rem 1rem;
    }

    .sidebar-wrapper .sidebar-footer .messages .messages-header {
        padding: 0 1rem;
    }

    .sidebar-wrapper .sidebar-footer .messages .message-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

        .sidebar-wrapper .sidebar-footer .messages .message-content .pic {
            width: 40px;
            height: 40px;
            overflow: hidden;
        }

            .sidebar-wrapper .sidebar-footer .messages .message-content .pic img {
                -o-object-fit: cover;
                object-fit: cover;
                height: 100%;
            }

        .sidebar-wrapper .sidebar-footer .messages .message-content .content {
            line-height: 1.6;
            padding-left: 5px;
            width: calc(100% - 40px);
        }

            .sidebar-wrapper .sidebar-footer .messages .message-content .content .message-title {
                font-size: 13px;
            }

            .sidebar-wrapper .sidebar-footer .messages .message-content .content .message-detail {
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

    .sidebar-wrapper .sidebar-footer .notifications .dropdown-item {
        padding: .25rem 1rem;
    }

    .sidebar-wrapper .sidebar-footer .notifications .notifications-header {
        padding: 0 1rem;
    }

    .sidebar-wrapper .sidebar-footer .notifications .notification-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

        .sidebar-wrapper .sidebar-footer .notifications .notification-content .icon {
            width: 40px;
            height: 40px;
        }

            .sidebar-wrapper .sidebar-footer .notifications .notification-content .icon i {
                width: 35px;
                height: 35px;
                text-align: center;
                line-height: 35px;
            }

        .sidebar-wrapper .sidebar-footer .notifications .notification-content .content {
            line-height: 1.6;
            padding-left: 5px;
            width: calc(100% - 40px);
        }

            .sidebar-wrapper .sidebar-footer .notifications .notification-content .content .notification-time {
                font-size: .7rem;
                color: #828282;
            }

            .sidebar-wrapper .sidebar-footer .notifications .notification-content .content .notification-detail {
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

    .sidebar-wrapper .sidebar-footer .badge-sonar {
        display: inline-block;
        background: #d86703;
        border-radius: 50%;
        height: 8px;
        width: 8px;
        position: absolute;
        top: 0;
    }

        .sidebar-wrapper .sidebar-footer .badge-sonar:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid #d86703;
            opacity: 0;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            -webkit-animation: sonar 1.5s infinite;
            animation: sonar 1.5s infinite;
        }

/*----------------page-wrapper----------------*/
.page-wrapper {
    height: 100vh;
}

    .page-wrapper .theme {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin: 2px;
        background-size: cover;
    }

        .page-wrapper .theme.selected {
            border: 2px solid #00c7ff;
        }

        .page-wrapper .theme.default-theme {
            background: #272B30;
        }

    .page-wrapper .page-content {
        display: inline-block;
        width: 100%;
        -webkit-transition: padding-left .3s ease;
        transition: padding-left .3s cubic-bezier(.03,-0.06,.25,1);
        overflow-x: hidden;
    }

        .page-wrapper .page-content .overlay {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 998;
            background: #000;
            opacity: .5;
            display: none;
        }

    .page-wrapper.toggled .sidebar-wrapper {
        left: 0px;
    }

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 280px;
    }
}

@media screen and (max-width: 768px) {
    .page-wrapper.toggled .page-content .overlay {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .page-wrapper.toggled.pinned .page-content {
        padding-left: 80px;
    }
}

.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper {
    width: 80px;
}

    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
        padding: 10px;
    }

        .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-pic {
            margin: 0 auto;
            width: 50px;
            float: none;
        }

            .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-pic img {
                margin: auto;
            }

        .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-search input,
        .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-info,
        .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .header-menu,
        .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .sidebar-submenu,
        .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu ul > li > a > span,
        .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu ul > li > a::after,
        .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-footer > div:not(.pinned-footer) {
            display: none !important;
        }

    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-search .input-group-text {
        height: 35px;
    }

    .page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-footer > div.pinned-footer {
        display: block;
    }

.page-wrapper .mCSB_scrollTools {
    width: 6px;
}

.page-wrapper .mCSB_inside > .mCSB_container {
    margin-right: 0px;
}

/*---- border-radius ------*/
.border-radius-on .sidebar-header .user-pic {
    border-radius: 12px;
}

.border-radius-on .badge {
    border-radius: 8px;
}

.border-radius-on .sidebar-menu ul li i {
    border-radius: 4px;
}

.border-radius-on .sidebar-footer .dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

    .border-radius-on .sidebar-footer .dropdown-menu .notification-content i,
    .border-radius-on .sidebar-footer .dropdown-menu .message-content .pic {
        border-radius: 4px;
    }

.border-radius-on .sidebar-search input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.border-radius-on .sidebar-search .input-group-append .input-group-text {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.sidebar-wrapper {
    background-color: #122e3b;
}

    .default-theme .sidebar-wrapper .sidebar-item {
        border-top: 1px solid #2b2b2b;
    }

        .default-theme .sidebar-wrapper .sidebar-item:first-child {
            border-top: none;
        }


        .default-theme .sidebar-wrapper a:not(.dropdown-item):hover,
        .default-theme .sidebar-wrapper .sidebar-menu li.active > a {
            color: #f8f8f8;
            
        }

        .default-theme .sidebar-wrapper .sidebar-search input.search-menu,
        .default-theme .sidebar-wrapper .sidebar-search .input-group-text {
            background-color: #2b2b2b;
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            margin-left: 1px;
        }

    .default-theme .sidebar-wrapper .sidebar-menu a:hover i,
    .default-theme .sidebar-wrapper .sidebar-menu a:hover:before,
    .default-theme .sidebar-wrapper .sidebar-menu li.active a i {
        color: #56b1cd;
    }

    .default-theme .sidebar-wrapper .sidebar-menu ul li a i {
        background-color: #2b2b2b;
    }

    .default-theme .sidebar-wrapper .sidebar-menu .header-menu span {
        color: #868686;
    }

    .default-theme .sidebar-wrapper .sidebar-footer {
        background-color: #2b2b2b;
        -webkit-box-shadow: 0px -1px 5px #1d1d1d;
        box-shadow: 0px -1px 5px #1d1d1d;
        border-top: 1px solid #2b2b2b;
    }

        .default-theme .sidebar-wrapper .sidebar-footer > div:first-child {
            border-left: none;
        }

        .default-theme .sidebar-wrapper .sidebar-footer > div:last-child {
            border-right: none;
        }

.default-theme.toggled #close-sidebar {
    color: #adadad;
}

    .default-theme.toggled #close-sidebar:hover {
        color: #d8d8d8;
    }

.default-theme .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.default-theme .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.default-theme .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #525965;
    border-radius: 0;
}

.default-theme .mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent;
}

    .default-theme.sidebar-bg .sidebar-wrapper a:not(.dropdown-item):hover,
    .default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu li.active > a {
        color: #d8ebf3;
    }

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-item {
    border-color: #df4d4d;
}

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search input.search-menu,
.default-theme.sidebar-bg .sidebar-wrapper .sidebar-search .input-group-text {
    background-color: rgba(81, 81, 81, 0.5);
}


.default-theme.sidebar-bg .sidebar-wrapper .sidebar-menu ul li a i {
    background-color: rgba(81, 81, 81, 0);
}

.default-theme.sidebar-bg .sidebar-wrapper .sidebar-footer {
    background-color: rgba(56, 56, 56, 0.5);
    -webkit-box-shadow: 0px -1px 5px rgba(29, 29, 29, 0.8);
    box-shadow: 0px -1px 5px rgba(29, 29, 29, 0.8);
    border-top: 1px solid #383838;
}
